<aside id="sidebar">
    <div class="sidebar-title">
        <div class="sidebar-brand">
            <span class="material-icons-outlined">shopping_cart</span> STORE
        </div>
        <span class="material-icons-outlined" onclick="closeSidebar()">close</span>
    </div>

    <a class="sidebar-list">
        <% moduleNames.forEach(moduleName=> { %>
            <li class="sidebar-list-item">
                <% if (moduleName==='Dashboard' ) { %>
                    <a href="../dashboard/dashboard">
                        <%= moduleName %>
                    </a>
                    <% } else if (moduleName==='Products' ) { %>
                        <a href="../dashboard/products">
                            <%= moduleName %>
                        </a>
                        <% } else if (moduleName==='Categories' ) { %>
                            <a href="../dashboard/categories">
                                <%= moduleName %>
                            </a>
                            <% } else if (moduleName==='Inventory' ) { %>
                                <a href="../dashboard/inventory">
                                    <%= moduleName %>
                                </a>
                                <% } else if (moduleName==='Customers' ) { %>
                                    <a href="../dashboard/customers">
                                        <%= moduleName %>
                                    </a>
                                    <% } else if (moduleName==='CreateUser' ) { %>
                                        <a href="../dashboard/createUser">
                                            <%= moduleName %>
                                        </a>
                                        <% } else if (moduleName==='Role' ) { %>
                                            <a href="../dashboard/roles">
                                                <%= moduleName %>
                                            </a>
                                            <% } else if (moduleName==='Logout' ) { %>
                                                <a href="/logout">
                                                    <%= moduleName %>
                                                </a>
                                                <% } %>
            </li>
            <% }) %>
    </a>


</aside>